<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
     <key>NSHumanReadableCopyright</key>
     <string>Copyright © 2025 Aleksandr Shabelnikov. All rights reserved.</string>
         <key>NSCameraUsageDescription</key>
    <string>This app requires access to FireWire device services (which macOS categorizes under Camera access) to communicate with your audio interface.</string>
    <key>SMPrivilegedExecutables</key>
    <dict>
        <key>net.mrmidi.FWADaemon</key> <!-- Identifier of the Helper Tool -->
        <!-- Code Signing Requirement String for the Helper Tool -->
        <string>identifier "net.mrmidi.FWADaemon" and anchor apple generic and certificate leaf[subject.OU] = P2XLT99UQ3</string>
    </dict>
</dict>
</plist>