<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioServerPlugIn_Network</key>
	<true/>
	<key>AudioServerPlugIn_MachServices</key>
	<array>
		<string>net.mrmidi.FWADaemon</string>
	</array>
	<key>CFPlugInFactories</key>
	<dict>
		<key>1F863A7B-8469-4D71-A0FF-5257FC4003F7</key>
		<string>EntryPoint</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>1F863A7B-8469-4D71-A0FF-5257FC4003F7</string>
		</array>
	</dict>
</dict>
</plist>
